################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
**/bin/
**/obj
**/db_*/
*.~vsdx
**/Joboutputs.*.csv
**/appsettings.overrides.json
/src/Servicebus.JobScheduler.ExampleApp/Servicebus.JobScheduler.ExampleApp.csproj.user
